## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(r"c:\users\bpeav\desktop\coding bootcamp\module 6 api\World_Weather_Analysis\Weather_Database\Vacation_Search\WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Anito,PH,77.83,overcast clouds,12.4497,125.2886,FELIPA LAODENIO PROPERTY
1,8,Ponta Do Sol,PT,71.71,overcast clouds,32.6667,-17.1000,Hotel do Campo
2,10,Cape Town,ZA,75.61,few clouds,-33.9258,18.4232,Southern Sun Waterfront Cape Town
3,11,Manokwari,ID,77.67,overcast clouds,-0.8667,134.0833,Swiss Belhotel Manokwari
4,12,Hermanus,ZA,73.90,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
<dt>Current Description</dt><dd>{Current Description}<dd/>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

for index, row in vacation_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=params).json()
    
    try:
        vacation_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
           #  max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
vacation_df.tail(62)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
165,478,Ormara,PK,71.31,clear sky,25.2088,64.6357,Crystal Beach and Camping Resort Ormara
166,484,Alofi,NU,75.09,broken clouds,-19.0595,-169.9187,Taloa Heights
167,491,Quang Ngai,VN,72.14,scattered clouds,15.1167,108.8000,Central Hotel
168,497,Granadilla De Abona,ES,73.20,clear sky,28.1188,-16.5760,Hotel Rural Senderos De Abona
169,501,Mmabatho,ZA,78.01,broken clouds,-25.8500,25.6333,Mahikeng Guest Apartments
...,...,...,...,...,...,...,...,...
222,691,Ponerihouen,NC,80.13,light rain,-21.0833,165.4000,Camping de Tiakan
223,694,Bambanglipuro,ID,78.67,overcast clouds,-7.9500,110.2833,Puri Brata
224,696,Axim,GH,83.98,few clouds,4.8699,-2.2405,Axim Beach Resort And Spa
225,698,Biltine,TD,83.28,clear sky,14.5333,20.9167,Hôtel Trois Étoiles de Biltine
226,700,Acajutla,SV,83.80,clear sky,13.5928,-89.8275,Laureles

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[2]
vaction_end = vacation_df.loc[2]
vacation_stop1 = vacation_df.loc[53]
vacation_stop2 = vacation_df.loc[21] 
vacation_stop3 = vacation_df.loc[169]

In [16]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (-33.92, 18.42)
end = (-33.92, 18.42)
stop1 = (-25.85, 25.63)
stop2 = (-22.94, 30.48)
stop3 = (-33.01, 29.91)

In [20]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
route = gmaps.directions_layer(
    start, stop3, waypoints=[stop1, stop2],
    travel_mode='BICYCLING')
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure
fig